<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tweet {{tweet.pk}}</title>
</head>
<body>
  <h1>Tweets</h1>
  <blockquote>
    [{{tweet.created}}]
    {% if tweet.user %}<b>{{tweet.user.username}}: </b>{% endif %}
    {{tweet.text}}
  </blockquote>
</body>
</html>