<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tweets</title>
</head>
<body>
  <h1>Tweets</h1>
  <ul>
    {% for tweet in tweets %}
    <li>
      <a href="{% url 'tweet' tweet.pk %}">{{tweet}}</a>
    </li>
    {% endfor %}
  </ul>
</body>
</html>